body{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  overflow: hidden;
}

header{
  height: 70px;
  background-color: #2B4C9A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_blanc{
  height: 44px;
}

.accueil{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: #2B4C9A;
}

h2{
  color: #2B4C9A;
  width: 600px;
}

h3{
  color: #2B4C9A;
}

.portrait{
  height: 564px;
}

.projets{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nom_projet{
  width: 400px;
  height: 50px;
  background-color: #2B4C9A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nom_projet h3{
  color: white;
  text-align: center;
}

.projet{
  width: 400px;
  height: 500px;
  background-color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.projet img{
  height: 450px;
  width: 400px;
}

/*NAVIGATION HORIZONTALE*/

/* Slideshow container */
.slideshow-container {
  height: 83%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #2B4C9A;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*NAVIGATION HORIZONTALE*/

/* Large */
@media (max-width: 95em) {
  .slideshow-container{
    height: 78%;
    position: relative;
    margin: auto;
  }
}

footer{
  height: 70px;
  background-color: #2B4C9A;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  color: white;
}

/*PAGES PROJET*/

.background1{
  height: 81%;
  background-image: url(img/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background2{
  height: 81%;
  background-image: url(img/projet\ 2\ 30%.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background3{
  height: 81%;
  background-image: url(img/projet\ 3\ 30%\ bis.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background4{
  height: 81%;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description_projet_1{
  height: 500px;
  width: 1000px;
  background-image: linear-gradient(to bottom, #2b4c9a, #4060b2, #5376cb, #678be5, #7aa2ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.description_projet_1_int{
  height: 450px;
  width: 950px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description_projet_1_int img{
  height: 450px;
  width: 400px;
}

.texte_projet{
  width: 500px;
}

.texte_projet h1{
  width: 500px;
  color: white;
}

.texte_projet h2{
  width: 500px;
  color: white;
}

.croix{
  width: 25px;
  position: absolute;
  margin: -23px;
}

#formulaire{
  width: 250px;
  height: 25px;
}

.fin{
  height: 81%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fin h1{
  text-align: center;
}

#indice{
  opacity: 0.07;
}