body{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  overflow: hidden;
}

header{
  height: 70px;
  background-color: #2B4C9A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_blanc{
  height: 44px;
}

.accueil{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: #2B4C9A;
}

h2{
  color: #2B4C9A;
  width: 600px;
}

h3{
  color: #2B4C9A;
}

.portrait{
  height: 564px;
}

.projets{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nom_projet{
  width: 400px;
  height: 50px;
  background-color: #2B4C9A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nom_projet h3{
  color: white;
  text-align: center;
}

.projet{
  width: 400px;
  height: 500px;
  background-color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

/*NAVIGATION HORIZONTALE*/

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  height: 83%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #2B4C9A;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*NAVIGATION HORIZONTALE*/

/* Large */
@media (max-width: 95em) {
  .slideshow-container{
    height: 78%;
    position: relative;
    margin: auto;
  }
}

footer{
  height: 70px;
  background-color: #2B4C9A;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  color: white;
}

/*PAGES PROJET*/

.background{
  height: 81%;
  background-image: url(img/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description_projet_1{
  height: 500px;
  width: 1000px;
  background-image: linear-gradient(to bottom, #2b4c9a, #4060b2, #5376cb, #678be5, #7aa2ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.description_projet_1_int{
  height: 450px;
  width: 950px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texte_projet{
  width: 500px;
}

.texte_projet h1{
  width: 500px;
  color: white;
}

.texte_projet h2{
  width: 500px;
  color: white;
}

.croix{
  width: 25px;
  position: absolute;
  margin: -23px;
}